<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
	<staticContent>
		<remove fileExtension=".jar" />
		<remove fileExtension=".jnlp" />
		<mimeMap fileExtension=".jar" mimeType="application/java-archive" />
		<mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
		<mimeMap fileExtension=".jnlp" mimeType="application/x-java-jnlp-file" />
	</staticContent>
    </system.webServer>
</configuration>